Room Booked
<table id="table-rooms" border="1">
    <tr id="tableHeader">
        <th class="tr-p" onclick="sortNum(0,'table-rooms')">No.</th>
        <th class="tr-p" onclick="sortAlpha(1,'table-rooms')">Room</th>
        <th class="tr-p" onclick="sortAlpha(2,'table-rooms')">Type</th>
        <th class="tr-p" onclick="sortNum(3,'table-rooms')">Size(sq)</th>
        <th class="tr-p" onclick="sortNum(4,'table-rooms')">Price($/day)</th>
        <th class="tr-p" onclick="sortAlpha(5,'table-rooms')">Status</th>
        <th class="tr-p" onclick="sortNum(6,'table-rooms')">No. of Adults</th>
        <th class="tr-p" onclick="sortNum(7,'table-rooms')">Amenities</th>
        <th class="tr-p" onclick="sortNum(7,'table-rooms')">Checkin</th>
        <th class="tr-p" onclick="sortNum(7,'table-rooms')">Total Time</th>
        <th class="tr-p" onclick="sortNum(7,'table-rooms')">Current Cost</th>
        <th>Checkout</th>
    </tr>
    <tr>
        <td>1</td>
        <td>101</td>
        <td><span style="font-size: 14px" class="label label-danger">deluxe</span></td>
        <td>200</td>
        <td>300.0</td>
        <td>available</td>
        <td align="center">2</td>
        <td>295</td>
        <td>12/15/2017 5:23 pm</td>
        <td>05:20:00</td>
        <td>$100</td>
        <td><button>Checkout</button></td>
    </tr>
</table>